.main {
    width: 300px;
    margin: 100px auto;
}
.checkbox {
    margin-bottom: 20px;
    font-weight: 700px;
}
.checkbox+label, .radios+label {
    display: flex;
    width: 16px;
    height: 16px;
    border: 1px solid #d9d9d9;
}
.checkbox:checked+label, .radios:checked+label {
    border: 1px solid red;
    font-weight: 700px;
}
.checkbox:checked+label::after, .radios:checked+label::after {
    content: '\2714';
    margin: auto;
    color: red;
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    font-size: 10px;
}
input {
    display: none;
}
/*重新改变radio*/
.radio {
    width: 50px;
    display: flex;
    justify-content: space-between;
}
.radios+label {
    border-radius: 50px;
}
.radios:checked+label::after {
    content: '';
    width: 8px;
    height: 8px;
    line-height: 8px;
    border-radius: 50%;
    background: #d73d32;
}
/*雪碧图*/
.checkBox-sprite+label,.radioBox-sprite+label{
  width: 16px;
  height:16px;
  border:none;
  display: inline-block;
  background:url('bg.png') no-repeat;
}
.checkBox-sprite+label{
  background-position:-25px -32px;
}
.radioBox-sprite+label{
  background-position: -24px -10px;
}
.checkBox-sprite:checked+label{
  background-position: -60px -32px;
}
.radioBox-sprite:checked+label{
  background-position: -59px -10px;
}